
 <!--  
{% extends "base.html" %}
{% block content %}

  <div class="jumbotron">
  -->


    <!--  
    <p>Time to start building your site!</p>
    <p><a class="btn btn-primary btn-lg" href="http://luminusweb.net">Learn more &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span12">
    {{docs|markdown}}
    </div>
  </div>
{% endblock %}
-->
<!DOCTYPE html>
<html>
  <head>
<title>This is the Title of the Page</title> </head>
<body>
<h1>This is the form</h1> <p></p>

<form action="http://www.google.com/search">
    <input name="q">
    <input type="submit">

</form>
  </body>
</html>

